@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

a{
color:black;
text-decoration: none;

}





body{
font-family: Montserrat;

}
.main-menu-text {
display: flex;
justify-content:center;

}
.html-urok {
color:black;
text-decoration: none;
display:flex;
justify-content: center;

}
.first-urok{
display: flex;
justify-content: center;
background-color: coral;
border-width:35px ;
border-radius: 100px;
color:white;
}
.button{
background-color: brown;
color:white
}
.footer{
 position: fixed; /* Фиксируем подвал */
    bottom: 0; /* Прижимаем к нижнему краю */
    left: 0;
    width: 100%; /* На всю ширину экрана */
    background-color: #f0f0f0;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;

}